@import "~react-image-gallery/styles/css/image-gallery.css";

.detailsContainer {
  display: flex;
  justify-content: flex-start;
}
.imgesContainer {
  display: flex;
  justify-content: center;
}
.videosContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  max-width: 300px;
  width: 80%;
  margin: 15px;
  height: auto;
  height: 80%;
  text-align: justify;
}

.col2 {
  width: 80%;
  margin: 15px;
  height: auto;
  height: 80%;
  text-align: justify;
  flex-grow: 1;
}

.colImages {
  max-width: 62%;
  flex-grow: 1;
}
.movieImg {
  border-radius: 15px;
}
.col-video {
  margin: auto;
  text-align: center;
  width: min-content;
}
.movieDetails {
  font-size: 1.5rem;
}
.color-titles {
  color: #8da0bc;
}
.p-titles {
  color: #fff;
}
.firstItem {
  margin-top: 0;
  color: white;
}
.background-movie {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}
.rate-and-dates {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}
.logos-companies {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.p-overview {
  margin-right: 6%;
}
.img-logo {
  width: 20%;
  height: 20%;
  margin: 10px;
  background: white;
}
.no-link {
  text-decoration: none;
  color: white;
  word-wrap: break-word;
}
.not-link-show{
  
  text-decoration: none;
  color: white;
}
.margin-cast{
    margin-right: 5%;}
.not-link-show > a {
   text-decoration: none;
  color: white;
}
@media (max-width: 556px) {
  .detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
