.detailsContainer {
  display: flex;
  justify-content: flex-start;
}

.col {
  max-width: 245px;
  width: 80%;
  margin: 15px;
  height: auto;
  height: 80%;
  text-align: justify;
}

.col2 {
  width: 80%;
  margin: 15px;
  height: auto;
  height: 80%;
  text-align: justify;
  flex-grow: 1;
}
.movieImg {
  border-radius: 15px;
}

.movieDetails {
  font-size: 1.5rem;
}
.color-titles {
  color: #8da0bc;
}
.p-titles {
  color: #fff;
}
.firstItem {
  margin-top: 0;
  color: white;
}
.background-movie {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.no-link {
  text-decoration: none;
  color: white;
  word-wrap: break-word;
}
@media (max-width: 556px) {
  .detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
