h1 span,
h2 span {
  color: #296ee4;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 259%;
  width: -moz-available;
}

.video-wrapper {
  width: auto;
  height: 597px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.video-title {
  /*background-color: #02091a;*/
  color: white;
  mix-blend-mode: lighten;
  margin: 0;
  font-size: 100px;
  height: 100%;
  width: 100%;
}