.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  padding: 10px;
}
.container-all-cards{
  margin: 26px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  height: auto;
  flex-direction: row;
}


.container-all-cards{
  margin: 26px;
}
.background-div {
  background: linear-gradient(
    183deg,
    #1d3557,
    rgba(69, 123, 157, 0.8925945378151261) 76%,
    rgba(96, 112, 143, 0.8925945378151261) 100%,
    #e63946 0
  );
  background-size: cover;
  background-repeat: no-repeat;
}
