.color-font {
  color: white;
}

body {
  background: linear-gradient(
    183deg,
    rgba(29, 53, 87, 1) 0%,
    rgba(69, 123, 157, 0.8925945378151261) 76%,
    rgba(96, 112, 143, 0.8925945378151261) 100%,
    rgba(230, 57, 70, 1) 100%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
